---
layout: default
---
<!-- Page Header-- - - - bg-dark## lower number is brighter, higher number has dark overlay for background header image -->


<section class="module-header full-width parallax bg-dark bg-dark-60" data-background="assets/images/kspetrichenko-headshot-wide.jpg" background-color=#0a0b0c>
<div class="container">
		<div class="row">
			<div class="col-sm-12" align="left">
<!--			<h1 class="h1">Ksenia Petrichenko</h1>
				<h2 class="h2">Abstract Mixed-Media Artist</h2> -->
			</div>
		</div>
	</div>
</section>



<!-- videos -->
 <section class="score-vid-header module-bg-dark" background-color="#051f4a" background-image="{{ site.assets }}/images/backgrounds/crazystavesdarkblue884.jpg">
	<div class="container full-width" background-image="{{ site.assets }}/images/backgrounds/crazystavesdarkblue884.jpg">

		<!-- reflexive iterations BEGIN -->

<br><br><Br>
	<center>
<img src="{{ site.assets }}/images/2019/worlds-apart-660.jpg">
</center>
		<!--


		<div class="row full-width" width="100%" height="50vh">
			<div class="col-2 nopadding score-wrapper">{% include home-score_panic-architecture.html %} </div>&nbsp;
						<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh" ><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/555041925" frameborder="0" allowfullscreen valign="top"></iframe></div>
		</div> -->

		<!--  reflexive iterations END -->
<br>


<br>
<!-- SURFACE TENSION BEGIN --><!--<div class="row full-width" width="100%" height="50vh">
				<div class="col-12 nopadding" valign="top" align="center" width="100%" height="55vh" ><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/306876693" frameborder="0" allowfullscreen></iframe></div>
</div><!-- SURFACE TENSION END -->
<!--<br> -->


<!-- WALKSIDE  BEGIN --><!--<div class="row full-width" width="100%" height="50vh">
	<div class="col-2 nopadding score-wrapper">{% include home-score_panic-architecture.html %} </div>&nbsp;
				<div class="col-9 nopadding" valign="top" align="right" width="99%" height="55vh" ><iframe class="embed-responsive-item" width="99%" height="55vh" src="" data-src="https://player.vimeo.com/video/140159929" frameborder="0" allowfullscreen  valign="top"></iframe></div>
			-->	<!-- WALKSIDE  END -->
			</div><!--</div><br> -->


</section>
<!-- Page Header end-->
