<div class="row row-portfolio-filter">
	<div class="col-sm-12">
		<ul class="h5 filters">

			<li><a href="{{ site.url }}/gallery/2020.html">2020</a></li>
			<li><a href="{{ site.url }}/gallery/2019.html">2019</a></li>
			<li><a href="{{ site.url }}/gallery/2018.html">2018</a></li>
			<li><a href="{{ site.url }}/gallery/2017.html">2017</a></li>


				<br>
			<br>

			<li><a href="{{ site.url }}/gallery/processing.html">Processing</a></li>
			<li><a href="{{ site.url }}/gallery/natural-paints.html">Natural Paints</a></li>




		</ul>
	</div>
</div>
