---
layout: default-no-footer
---
{%- if page.headerImage -%}
  <!-- Page Header-->
  <section class="module-header parallax bg-dark bg-dark-50" data-background="{{ site.images }}/{{ page.headerImage }}">
  	<div class="container">

  </section>
  <!-- Page Header end-->
{%- endif -%}

<!-- Module -->
{%- if page.moduleSize == 'small' -%}
<section class="module-sm module-divider-bottom">
{%- else -%}
<section class="module module-divider-bottom">
{%- endif -%}
  {%- if page.container == 'fluid' -%}
    <div class="container-fluid">
  {%- else -%}
    <div class="container" background-color="#1a1c1e" background-image="assets/images/https://media.istockphoto.com/photos/white-wrinkle-paper-texture-background-picture-id672298630?b=1&k=6&m=672298630&s=170667a&w=0&h=rO_qL74BDgFbXm81P56gLXmI5bC1uyE_dE5SNZa-8AA=">
  {%- endif -%}
    {{ content }}
  </div>
</section>
<!-- Module end-->
